<script src="script.js"></script>
<div id=countdown-wrap>
    <div id="goal">$10,000</div>
    <div id="glass">
      <div id="progress">
      </div>
    </div>
    <div class="goal-stat">
      <span class="goal-number">16%</span>
      <span class="goal-label">Funded</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number">$1,640</span>
      <span class="goal-label">Raised</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number"><div id="countdown"></div></span>
      <span class="goal-label">Days to Go</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number">38</span>
      <span class="goal-label">Sponsors</span>
    </div>
  </div>
  <!--http://stackoverflow.com/questions/9335140/how-to-countdown-to-a-date -->
  
  